<%- include('partials/header') %>

  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Meus Contatos</h1>
    <a href="/contacts/new" class="btn btn-success">
      <i class="bi bi-person-plus-fill"></i> Novo Contato
    </a>
  </div>

  <div class="card shadow-sm">
    <div class="card-body">
      <table class="table table-hover align-middle">
        <thead class="table-primary">
          <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th class="text-center" style="width: 150px;">Telefone</th>
            <th>Email</th>
            <th class="text-center" style="width: 160px;">Ações</th>
          </tr>
        </thead>
        <tbody>
          <% contacts.forEach(c=> { %>
            <tr>
              <td>
                <%= c.nome %>
              </td>
              <td>
                <%= c.sobrenome %>
              </td>
              <td class="text-center">
                <%= c.telefone %>
              </td>
              <td>
                <%= c.email %>
              </td>
              <td>
                <div class="btn-group" role="group">
                  <a href="/contacts/edit/<%= c._id %>" class="btn btn-sm btn-warning w-100">Editar</a>

                  <!-- Botão que abre o modal -->
                  <button type="button" class="btn btn-sm btn-danger w-100" data-bs-toggle="modal"
                    data-bs-target="#confirmDeleteModal" data-contact-id="<%= c._id %>"
                    data-contact-name="<%= c.name %> <%= c.surname %>">
                    Excluir
                  </button>
                </div>
              </td>



            </tr>
            <% }) %>
        </tbody>
      </table>
    </div>
  </div>

  <%- include('partials/footer') %>